<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="miao.kmirror.dragonli">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DragonLi">
        <activity
            android:name=".activity.TestActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".navFunction.ChangeAppPassword"
            android:exported="false" />
        <activity
            android:name=".navFunction.ChangeAppImage"
            android:exported="false" />
        <activity
            android:name=".singleActivity.SingleImageLockActivity"
            android:exported="false" />
        <activity
            android:name=".singleActivity.SingleFingerLockActivity"
            android:exported="false" />
        <activity
            android:name=".singleActivity.SinglePasswordUnlockActivity"
            android:exported="false" />
        <activity
            android:name=".singleActivity.SinglePasswordLockActivity"
            android:exported="false" /> <!-- 登录模块 -->
        <activity android:name=".activity.LoginActivity">

        </activity>
        <activity
            android:name=".lock.activity.PasswordLoginActivity"
            android:exported="true"
            android:label="密码登录"
            android:parentActivityName=".activity.LoginActivity" />
        <activity
            android:name=".lock.activity.FingerLoginActivity"
            android:label="指纹登录"
            android:parentActivityName=".activity.LoginActivity" />
        <activity
            android:name=".lock.activity.ImageUnlockActivity"
            android:label="手势登录"
            android:parentActivityName=".activity.LoginActivity" /> <!-- 设置密码模块 -->
        <activity
            android:name=".lock.activity.ImageLockActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FirstUseActivity"
            android:exported="false" /> <!-- 记事本功能模块 -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="主页面"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".activity.EditActivity"
            android:label="编辑记事"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.AddActivity"
            android:label="添加记事"
            android:parentActivityName=".activity.MainActivity">


        </activity>
    </application>

</manifest>